name: Check

on: [push]

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu, macos]
        check: ["", toolchain]
        offset: [1, 2]
        include:
          - runs-on: ubuntu
            make-args: CC=clang-12 CXX=clang++-12 LDFLAGS=-fuse-ld=lld
            begin: 1
            end: 2
          - runs-on: macos
            begin: 3
            end: 4
    runs-on: ${{matrix.runs-on}}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          submodules: true
      - name: Check
        run: make ${{matrix.make-args}} CHECK=${{matrix.check}}/\* OFFSET=${{matrix.offset}}${{matrix.begin}}0000000 ITERATIONS=${{matrix.offset}}${{matrix.end}}0000000 check
